* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    html,
    body {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        flex: 1;

        .main-container {
            width: 100%;
            min-height: 100vh;
            background: linear-gradient(to bottom, #ff9472, #f2709c);
            display: grid;
            place-items: center;

            .inner-container {
                width: 60%;
                min-height: 80vh;
                background: whitesmoke;
                border-radius: 8px;
                box-shadow: rgba(187, 166, 166, 0.35) 0px 5px 15px;
                display: flex;
                position: relative;

                .player-0 {
                    flex: 1;
                    border-radius: 8px 0 0 8px;
                    padding: 10px;

                }
                .active {
                    background: #eee1e9;
                }
                .player-1 {
                    flex: 1;
                    padding: 10px;

                }
                #player-center{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;

                    .score-0 ,.score-1{
                        text-align: center;
                        line-height: 120px;
                        font-size: 80px;
                    }
                    .current {
                        width: auto;
                        padding: 10px;
                        background: #c5103e;
                        text-align: center;
                        color: blanchedalmond;
                        border-radius: 5px;
                        font-size: 20px;
                    }
                }
                .new-game {
                    position: absolute;
                    right: calc(50% - 50px);
                    top: 40px;
                    cursor: pointer;
                }
                .dice-img {
                    width: 120px;
                    position: absolute;
                    right: calc(50% - 60px);
                    top: 150px;

                    .img {
                        width: 100%;
                    }
                }
                .roll-dice {
                    position: absolute;
                    right: calc(50% - 40px);
                    top: 400px;
                    cursor: pointer;
                }
                .btn-hold {
                    position: absolute;
                    right: calc(50% - 20px);
                    top: 450px;
                    cursor: pointer;
                }
            }
            @media (max-width: 800px) {
                .inner-container {
                    width: 100%;
                    height: 100%;
                }
            }
            @media (max-width: 500px) {
                .player-0 {
                    font-size: 12px !important;
                }
                .player-1 {
                    font-size: 12px !important;
                }
                .inner-container .dice-img{
                    position: absolute;
                    right: calc(50% - 90px);
                    top: 150px;
                    margin: 0 10px;

                    .img {
                        width: 70%;
                    }
                }
            }
        }
    }
}
